<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    
      
        <div class="collapse navbar-collapse" id="navbarNav">
            <a href="/home/user" class=navbar-brand>TODO</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home/user">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/todos">Lista zadań</a>
            </li>
          
          </ul>

          <ul class="navbar-nav navbar-collapse justify-content-end">
              <li class="nav-item">
                  <a class="nav-link" href="/login">Zaloguj</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Wyloguj się</a>
                </li>

          </ul>
        </div>
      </nav>
</header>