<h1>MOJE ZADANIA</h1>

<div class="alert alert-info" *ngIf='message'>{{message}} </div>

<div class="container">
<table class="table">
  <thead>
    <tr>
      <th>Opis</th>
      <th>Deadline</th>
      <th>Zrobione?</th>
      <th>Zmień</th>
      <th>Usuń</th>
    </tr>
  </thead>
  <tbody>
    <!-- takie forEach inaczej -->
    <tr *ngFor="let todo of todos">
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date:"dd/MM/yyyy"}}</td>
      <td>{{todo.completed}}</td>
      <td><button (click)="updateTodo(todo.id)" class="btn btn-success">Zmień</button></td>
      <td><button (click)="deleteTodo(todo.id)" class="btn btn-warning">Usuń</button></td>
    </tr>
  </tbody>
</table>

<div class="col text-center">
    <button class="btn btn-info btn-lg" (click)="addTodo()">Dodaj nowe zadanie</button>
    </div>
</div>
<br>
<br>
<br>