<html lang="pl-PL"></html>
<head>
<meta charset="UTF-8">
</head>
<br>

<div class="container">
<fieldset class="border p-5 border-dark rounded " style="background-color: rgb(170, 206, 207); ">
  <legend class="w-auto"><h1>TODO</h1></legend>
  <fieldset class="form-group">
    <label><h4>Wprowadź opis zadania</h4></label>
  <input type="text" [(ngModel)]="todo.description" class="form-control" name="description" required="required" placeholder="opis">
</fieldset>
<fieldset class="form-group">
  <label><h4>Wprowadź datę</h4></label>
  <input type="date" [ngModel]="todo.targetDate|date:'yyyy-MM-dd'" 
  (ngModelChange)="todo.targetDate = $event"
  class="form-control" name="targetDate" required="required" placeholder="data">
</fieldset>

<div class="col text-center">
<button class="btn btn-success" (click)="saveTodo()">Zapisz</button>
</div>
</fieldset>
  </div>


